*{
 -webkit-tap-highlight-color:transparent!important;
 tap-highlight-color:transparent!important;
 outline:0!important;
 box-sizing:border-box;}
body{
 background:#060606;
 padding:0px;
 margin:0px;
 font-family:"Oxanium",sans-serif;}
#myNav{
 display:flex;
 justify-content:center;
 position:fixed;
 top:0px;
 left:0px;
 border-bottom:0.5px solid #333;
 border-radius:0px 0px 2px 2px;
 text-align:center;
 height:55px;
 width:100%;
 background:#111111;
 z-index:999;}
.brand{
 display:block;
 position:relative;
 top:14px;
 padding:0px;
 margin:0px;
 height:max-content;
 width:max-content;
 font-family:"Audiowide",sans-serif;
 font-size:20px;
 font-weight:450;
 color:#fefefe;}
.domain{
 position:relative;
 top:18px;
 padding:0px;
 margin:0px;
 color:#aaa;
 font-family:"Audiowide",sans-serif;
 font-size:16px;
 font-weight:400;}
button,input, a{
 font-family:inherit;
 background:transparent;
 color:#eee;
 border:none;
 border-radius:2px;}
