*{
 -webkit-tap-highlight-color:transparent!important;
 tap-highlight-color:transparent!important;
 outline:0!important;
 box-sizing:border-box;}
body{
 background:#111111;
 padding:0;
 margin:0;
 font-family:"Oxanium",sans-serif;}
button,input,a{
 font-family:inherit;
 background:#fff0;
 color:#eee;
 border:none;
 border-radius:3px;}
.myNav{
 display:flex;
 justify-content:space-between;
 padding:0px;
 margin:0px;
 height:55px;
 width:100%;
 position:fixed;
 top:0px;
 left:0px;
 background:transparent;
 backdrop-filter:blur(20px);
 border-bottom:0.5px solid #aaa;
 border-radius:0px 0px 3px 3px;
 z-index:100;}
.btnBack{
 padding:0px 2px;
 margin:auto 0px auto 6px;
 display:block;
 width:max-content;
 height:max-content;}
.iconBack{
 display:block;
 padding:0px;
 margin:6px 0px 0px 0px;
 font-size:22px !important;
 font-weight:400;
 height:max-content;
 width:max-content;
 color:#eee;}
.brand{
 display:block;
 padding:0px;
 margin:auto 0px;
 font-family:"Audiowide", sans-serif;
 font-size:20px;
 font-weight:400;
 color:#fff;
 position:relative;
 top:1px;}
.btnNav {
 padding: 0px 2px;
 margin: auto 10px auto 0px;
 display: block;
 width: max-content;
 height: max-content;}
.iconNav {
 display: block;
 padding: 0px;
 margin: 6px 0px 0px 0px;
 font-size: 25px !important;
 font-weight: 400;
 height: max-content;
 width: max-content;
 color: #eee;}
