*{
 -webkit-tap-highlight-color:transparent!important;
 tap-highlight-color:transparent!important;
 outline:0!important;
 box-sizing:border-box;}

body{
 background:#060606;
 color:#eee;
 padding:0px;
 margin:0px;
 font-family:"Monda", sans-serif;}

button,input,a{
 font-family:inherit;
 background:transparent;
 text-decoration:none;
 color:#eee;
 border:none;
 border-radius:2px;}
 
.myNav{
 display:flex;
 justify-content:space-between;
 padding:0px;
 margin:0px;
 height:55px;
 width:100%;
 background:rgba(9,9,9,0.5);
 backdrop-filter:blur(6px);
 border-bottom:0.5px solid #eee;
 border-radius:0px 0px 2px 2px;
 position:fixed;
 top:0px;
 left:0px;
 z-index:999;
}
 
#myBrand{
 display:block;
 padding:0px;
 margin:14px 0px auto 12px;
 font-family:"Audiowide", sans-serif;
 font-size:20px;
 font-weight:450;
 color:#eee;
 width:max-content;
}

#btnGoHome{
 display:block;
 border:0.5px solid #444;
 margin:auto 12px auto 0px;
 height:34px;
 width:34px;
}

.iconGoHome{
 font-size:21px !important;
 font-weight:300;
 color:#eee;
 padding:0px;
 margin:0px;
 display:block;
 position:relative;
 top:3.5px;
 transition:0.4s;
}
